#play {
   position: relative;
   width: 260px;
   height: 240px;
   background-color: aquamarine;
   margin: auto;
   padding: 7px 0;
}

#play > div.box {
   display: flex;
   flex-wrap: wrap;
   width: 256px;
   margin: auto;
   align-items: flex-end;
   justify-content: center;
   align-content: flex-start;
}

#play > div.box > .square {
   width: 30px;
   height: 30px;
   border: solid 1px;
   background: white;
   transition: 1s;
}

.square.ninja {
   opacity: 0;
   visibility: hidden;
   transition: 1s;
}

#play > div.button {
   font-size: 13px;
   line-height: 1.3em;
   text-align: center;
   background: rgb(255, 255, 255);
   border: solid 1px #000;
   border-radius: 7px;
   width: 150px;
   margin: 7px auto auto auto;
}

#play > .button:hover {
   text-shadow: 1px 1px 2px Silver;
}

#play > div.info {
   font-size: 13px;
   line-height: 1.3em;
   text-align: center;
   background: rgb(255, 255, 255);
   border: solid 1px #000;
   width: 100px;
   margin: 0 auto 5px auto;
}

#win{
   transition: 1s;
   font-size: 13px;
   color: white;
   line-height: 1.3em;
   text-align: center;
   background: rgb(255, 255, 255);
   width: 100px;
   margin: 10px auto 5px auto;
}